.overflow{
    overflow-x: hidden;
}

/* -----------common style start---------- */

.font-size{
    font-size: 38px;
}
.text-color{
    color: #E77C40;;
}

/* ------------common syle end----------  */

.header-bg{
    background-color: #264653;
}
.btn-purchase{
    color: white;
    background-color: #E76F51;
    font-size: 20px;
    font-weight: 500;
    padding: 0 50px 0 50px;
    width: 180px;
    height: 60px;
    border: none;
    border-radius: 5px;
}

/* Featured bikes starts */
#featured_bikes{
    padding-top: 64px;
    padding-bottom: 165px;
}
#featured_bikes .section_heading {
    margin-bottom: 141px;
}
.fetur_bikes{
    width: 288px;
    margin: auto;
}
.fetur_bikes .grayscale3,
.fetur_bikes .grayscale1 {
   filter: grayscale(100%);
}

/* Featured bikes ends */

.card-size{
    max-width: auto;
    height: 478px;
}
 .accordion-item {
    background-color: #fff;
    border: 2px solid rgba(0, 0, 0, 0.815);
    
    margin-bottom: 15px;
}

.user-name{
    color: blue;
}
.fas{
    font-size: 16px;
}
.fa-star, .fa-star-half-alt{
    color: rgb(236, 148, 15);
}
.form-bg{
    background-color: rgb(229, 229, 233);
}
.next-feature{
    color: rgb(146, 144, 144);
    background-color: rgba(14, 13, 13, 0.979);
    text-align: center;
    border-radius: 20px;
    margin-top: 60px;
    padding-top: 5px;
    padding-bottom: 8px;
}
.btn-buy-now{
    border-radius: 8px;
    padding: 9px 25px;
    color: white;
    background-image: linear-gradient(to bottom, #FF589B 0%, #ff569a 100%);
    border: none;
}